<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.paranoid.devtext" android:versionCode="4" android:versionName="0.0.4-dev">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <application android:label="ParanoID Text Alpha" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:fullBackupContent="false" android:usesCleartextTraffic="false" android:debuggable="false">
    <activity android:name="org.paranoid.text.QrScanActivity" android:exported="false" android:screenOrientation="portrait" />
    <activity android:name="org.paranoid.text.MainActivity" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
    </activity>
  </application>
</manifest>
